#sideNav
{
  background-color: #00001a;
  color: rgb(0, 0, 0);
}
#main
{
  background-color: #575659;
  color: #F8F8F8;

}
.container
{
  font-family: 'Inconsolata', monospace;
  font-size: 19px;
}
#my-name
{
  /* text-decoration-line: overline; */
  font-family: 'Fira Mono', monospace;
  text-shadow: 2px 5px 10px #131117;
  margin-left: 0.5%;
  font-size: 60px;
}
img
{
  border: 1px solid #F8F8F8;
  border-radius: 20px;
  box-shadow: 0 6px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  opacity: 1;
}
img:hover
{
  opacity: 0.5;
  transition: transform .7s;
}
#skills
{
  border-bottom: 1px solid rgb(75, 70, 70);
  margin-top: 25%;
  margin-left: 10%;
  margin-right: 10%;
  transition: transform .7s;
}
#skills:hover{
  opacity: 0.7;
  transform: scale(1.075);
}
.projecter
{
  width: 50%;
  height: 100%;
  box-shadow: 0 5px 5px rgba(85, 50, 50, 0.3);
}